{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <h1 class="title">Profile</h1>
    <div class="logo-container">
        <img class="logo" src="static\images\profile2.png" alt="">
    </div>
    <nav class="links">
        {% if current_user.is_authenticated %}
        
        <a href="{{ url_for('logout') }}" class="link">
            <div class="link-item">
                <i class="bi bi-box-arrow-left"></i>                
            </div>
            <p><small>Logout</small></p> 
        </a>        
        <a href="{{ url_for('account') }}" class="link">
            <div class="link-item">
                <i class="bi bi-person-lines-fill"></i>                                
            </div>
            <p><small>Account</small></p>             
        </a>        
        {% else %}
        <a href="{{ url_for('login') }}" class="link">
            <div class="link-item">
                <i class="bi bi-box-arrow-in-right"></i>
            </div>
            <p><small>Login</small></p>
        </a>
        <a href="{{ url_for('register') }}" class="link">
            <div class="link-item">
                <i class="bi bi-person-plus"></i>                
            </div>
            <p><small>Register</small></p>            
        </a>        
        {% endif %}
        
    </nav>
{% endblock %}